{% extends 'clickapp/base.html' %}

{% block content %}
Welcome to Click click

<div id='comment'>
    Loading...
</div>

<script>
    const listElement = document.getElementById("comment")

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/list"
    const responseType = "json"

    function handleDidLike (comment_id, currentCount) {

    }

    function LikeBtn(comment) {
        return "button class='text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' onclick=handleDidLike(" + comment.id + ", " + comment.likes")>like</button>"
    }

    function formatListElement(comment) {

        var formattedComment = "<div id='comment-" + comment.id 
        +" '><p>" + comment[i].body + 
           "</p><div class='btn-group'>" + LikeBtn(comment) +
            "</div></div>"
        return formattedComment
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = xhr.response.response
        var finalStr = ""
        var 1;
        for (i=0;i<listedItems.length; i++) {
            var commentObj = listedItems[i]
            var currentItem = formatListElement(commentObj)
            finalStr += currentItem
        }
        listElement.innerHTML = finalStr
        // console.log(listedItems)
    }
    xhr.send()

</script>
{% endblock content %}